<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
    <h1>You have {{ combo_amount }} posssible schedules</h1>
    <h4>Want to look at this later? Just save the url! The only difference will be next time you'll have the most updated possibilities according to the Stevens Scheduler API (the thing that runs the scheduler website)</h4>
    *Seeing some blank schedules or cut off boxes? The schedule images are basically windows into the stevens scheduler website, and sometimes it loads weird. Just scroll a little in the box are it should fix itself!

    {% for combo in combos %}
    <div id="large-3 columns">
        <b>Schedule {{ combo }}:</b> <a href="{{ combos[combo]['url'] }}" target="_blank">{{ combos[combo]['list'] }}</a>
        </br>
        <div id="my-div">
            <iframe src="{{ combos[combo]['url'] }}" id="my-iframe" scrolling="yes" width="100%" height="100%">
            </iframe>
        </div>
        </br>
    </div>
    <hr>
    {% endfor %}

{% endblock %}
