<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{ title }} - Stevens Resources</title>
    {% else %}
    <title>Scheduler</title>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" lang="en" content="Scheduler app for Stevens Institute of Technology students">
    <meta name="author" content="Josh Gribbon">
    <meta name="robots" content="index, follow">

    <!-- Override CSS file - add your own CSS rules -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <!--This website is run using flask and python-->
  <body>
    <div class="header">
      <a href='/'>
      <div class="container">
        <h1 class="header-heading">Stevens Resources</h1>
      </div>
      </a>
    </div>
    <div class="nav-bar">
      <div class="container">
        <ul class="nav">
          <li><a href="/index">Home</a></li>
          <li><a href="/courses">Courses(an books!)</a></li>
          <li><a href="/how_many">Scheduler</a></li>
          <li><a href="/donate">Donate</a></li>
          <li><a href="https://github.com/joshgrib/course-scheduler" target="_blank">Github</a></li>
        </ul>
      </div>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
