<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Courses</h1>
    Note: All the books here are just for my use and are definitely not allowed to be used by anyone else<br>
    {% for course in sorted_c %}

    <fieldset><legend> {{ course }} </legend>
        {% for part in courses[course]['info'] %}
        <b>{{ part }}:</b>    {{ courses[course]['info'][part] }}<br>
        {% endfor %}
        <fieldset><legend> Books and required stuff </legend>
            {% for material in courses[course]['materials'] %}
                {{ material }}<br>
            {% endfor %}
            {% for book in courses[course]['books'] %}
                <a href="{{ courses[course]['books'][book]['url'] }}" target="_blank">{{ courses[course]['books'][book]['name'] }}</a><br>
            {% endfor %}
        </fieldset>
    </fieldset>
    {% endfor %}
{% endblock %}
