<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Here is some schedules</h1>
    {% for combo in combos %}

    <div id="combo">
        Schedule {{ combo }}: <a href="{{ combos[combo]['url'] }}" target="_blank">{{ combos[combo]['list'] }}</a>
        </br>
        <div id="my-div">
            <iframe src="{{ combos[combo]['url'] }}" id="my-iframe" scrolling="yes" width="100%" height="100%">
            </iframe>
        </div>
        </br>
    </div>
    {% endfor %}
{% endblock %}
